@import "../../styles/base/base";

.dropdown {
  width: 100%;
  font-size: $font-size-xsmall;
  color: $color-black;
  position: relative;
  cursor: pointer;
  &__heading {
    font-size: 1.5rem;
    color: $color-black-opacity-85;
    padding-bottom: 3.7rem;
    line-height: calc(22.5 / 15);
  }
  &__selected {
    background-color: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    height: 4.8rem;
    border-radius: 2rem;
    font-family: inherit;
    &--small {
      padding-left: 1.2rem;
      width: 8.9rem;
      font-size: $font-size-xxsmall;
    }
    &--big {
      border: 1px solid $color-gray-border;
      padding: 0 2.5rem;
      font-size: $font-size-xsmall;
    }
    svg {
      margin-left: auto;
      transition: all 500ms ease;
    }
    &--open {
      svg {
        transform: scaleY(-1);
      }
    }
  }
  &__selected-icon {
    height: 3rem;
    padding-right: 1rem;
  }
  &__options {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    background-color: $color-white;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1),
      inset 0px -6px 10px -5px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    max-height: 18rem;
    overflow: scroll;
    z-index: 1;
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &__option {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0.5rem;
    width: 100%;
    justify-content: flex-start;
    &--big {
      padding: 1.2rem 2.5rem;
      justify-content: flex-start;
    }
  }
  &__option-icon {
    width: 3rem;
    padding-right: 0.8rem;
  }
  &__option:hover {
    background-color: darken($color-white, 5%);
  }
}
