@import "../../styles/base/base";

.content-container {
  max-width: 130rem;
  margin-top: 14rem;
  margin-left: 10vw;
  padding-right: 2rem;

  display: grid;
  grid-template-columns: minmax(32rem, 62.5rem) minmax(30rem, 62.5rem);
  gap: 4rem;
  justify-items: end;
  @media screen and (max-width: 1300px) {
    gap: 2rem 10rem;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: 100%;
    justify-items: center;
    margin-left: 0;
    margin-top: 6rem;
    padding: 0 2.4rem;
  }

  &__heading {
    color: $color-white;
    font-size: $font-size-h1;
    font-weight: $font-weight-heavy;
    line-height: calc(66 / 60);
    @media screen and (max-width: 1000px) {
      padding-right: 1rem;
    }
    &__emphasis {
      color: $color-cyan;
    }
    @media screen and (max-width: 1300px) {
      font-size: 4.5rem;
    }
    @media screen and (max-width: 1000px) {
      font-size: 2.9rem;
    }
  }
  &__paragraph {
    color: $color-white;
    font-size: $font-size-large;
    line-height: calc(31.2 / 24);
    @media screen and (max-width: 1100px) {
      font-size: $font-size-medium;
    }
    .btn__secondary {
      height: auto;
      padding: 4rem 0 0 0;
      color: $color-cyan;
      &:hover,
      &:focus {
        background-color: transparent;
        color: darken($color-cyan, 5%);
      }
      &:active {
        background-color: transparent;
        color: darken($color-cyan, 10%);
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
}
