@import "../../styles/base/base";

.parent {
  display: relative;
  z-index: -1;
  overflow: hidden;
  min-height: 1000px;
}

.crooked-container {
  background-color: #5022ed;
  width: 150%;
  height: 1493px;
  transform: rotate(-8deg);
  margin-top: -757px;
  margin-left: -40%;
}

@media only screen and (min-width: 900px) {
  .crooked-container {
    transform: matrix(1, -0.04, -0.04, -1, 0, 0);
    margin-left: 13.8%;
    margin-right: -5.7%;
    border-radius: 60px;
  }
}
