@import "../../styles/base/base";

.nav-bar {
  background-color: $color-white;
  align-items: center;
  box-shadow: 0px 5px 11px rgba(29, 0, 62, 0.07);
  display: flex;
  padding: 0 3rem;
  gap: 6.5rem;
  height: 7rem;
  &__logo {
    flex-shrink: 0;
  }
  &__main-nav {
    display: none;
  }
  &__dropdown {
    background-color: $color-white;
    width: 100%;
    position: absolute;
    right: 0;
    list-style: none;
    z-index: 2;
    li {
      padding: 2rem 0;
      transition: all 250ms ease;
      color: $color-gray;
      &:hover,
      &:active {
        background-color: darken($color-white, 5%);
        color: $color-black-opacity-85;
      }
    }
  }
  &__auth-nav {
    display: none;
  }
  &__burger-menu {
    display: block;
    margin-left: auto;
    background: transparent;
    svg path {
      transition: all 250ms ease;
    }
    &:active,
    &:hover {
      svg path {
        fill: $color-black-opacity-85;
      }
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .nav-bar {
    height: 10rem;
    &__main-nav {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      list-style: none;
      max-width: 43rem;
      width: 100%;
      font-size: $font-size-small;
      color: $color-gray;
      font-weight: $font-weight-normal;
      white-space: nowrap;
      li {
        transition: all 250ms ease;
      }
      li:hover {
        color: $color-black-opacity-85;
        cursor: pointer;
      }
    }
    &__auth-nav {
      margin-left: auto;
      display: flex;
      gap: 1.5rem;
    }
    &__burger-menu {
      display: none;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .nav-bar {
    padding: 0 7rem 0 5rem;
  }
}
