$color-white: #fff;
$color-gray: #7f88a0;
$color-cyan: #16dfb5;
$color-blue: #5022ed;
$color-dark-gray: #b5b5b5;
$color-gray-border: #D9D9D9;
$color-black: #000;
$color-black-opacity-85: rgba(0,0,0,0.85);
$color-black-opacity-60: rgba(0,0,0,0.6);