@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$default-font-family: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-heavy: 700;

$font-size-small: 1.7rem;
$font-size-medium: 1.8rem;

